<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kkndr131">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/kkn1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Webview"></activity>
        <activity android:name=".Pendidikan_Anak" />
        <activity android:name=".KosaKata" />
        <activity android:name=".Rukun_Iman" />
        <activity android:name=".Rukun_Islam" />
        <activity android:name=".Pendidikan_Tauhid" />
        <activity android:name=".App" />
        <activity android:name=".Kkn" />
        <activity android:name=".Uin" />
        <activity android:name=".Dakwah" />
        <activity android:name=".Pendidikan" />
        <activity android:name=".About" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>